<!doctype html>
<html ng-app="popup">
  <head>
    <title>Getting Started Extension's Popup</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
    <style type="text/css">
        body {
            height: 200px;
            width: 250px;
            overflow-x: hidden;
        }
    </style>
  </head>
  <body ng-controller="mainController" class="container">
    <form name="settings" ng-submit="saveSettings()">
    <div class="button-group list-group">
      <li href="#" class="list-group-item">捕蟹笼 <input type="checkbox" ng-model="CC"> {{CC ? "ON" : "OFF"}}</li>
      <li href="#" class="list-group-item">图片隐藏 <input type="checkbox" ng-model="HP"> {{HP ? "ON" : "OFF"}} </li>
      <li href="#" class="list-group-item">黑名单 <input type="checkbox" ng-model="BL"> {{BL ? "ON" : "OFF"}}</li>
      <li href="#" class="list-group-item">王旭雷达 <input type="checkbox" ng-model="WR"> {{WR ? "ON" : "OFF"}}</li>
    </div>
    <div id="status"></div>
    <button id="save" onclick="test();">test</button>
    <input type="submit" value="Save"/>
    </form>
    <script src="lib/angular.min.js"></script>
    <!--<script src="lib/bootstrap/dist/js/bootstrap.js"></script>-->
    <script src="popup.js"></script>
  </body>
</html>
